div {
    font-size: 2rem;
}

img {
    margin-top: 4rem;
    width: 15rem;
}

#profile {
    border-radius: 50%;
    border: 3px solid #000;
}

#humor {
    position: fixed;
    top: 5px;
    left: 50px;
    height: 8rem;
    width: auto;
    border-radius: 10px;
}

@media (max-width: 1000px) {

    #humor {
        position: fixed;
        top: 5px;
        left: 50px;
        height: 5rem !important;
        width: auto;
        border-radius: 10px;
    }
}