.App {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Titillium Web', sans-serif; */
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
  outline-color: #cad74f;
  background: #fff;
  background: linear-gradient(15deg, #fff 77%, #6f6f6f 98%);
}

body,
button,
input,
a,
ul,
li,
textarea {
  outline-color: #cad74f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}